<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="./asset/lib/ash.min.js"></script>
</head>
<body>
    <div id="main"></div>
</body>
</html>
